doctype html
html
    head
        script(src="https://use.fontawesome.com/cf2a2cc1be.js")
        title Wetube
    body
        include ../partials/header
        main
            block content
        include ../partials/footer